header.header
	.header-container
		.header-flex
			.logo
				img(src="./images/logo.png" alt="logo" width="202")
			nav.navigation()
				a.tel(href="tel:84959999999") 8 495
					span.bold  999 99 99
				a.mail(href="mailto:123@mail.ru") отправить e-mail
				ul.social
					li.social__item
						a.social__link(href="#") fb
							img(src="./images/svg/fb.svg" width="10")
					li.social__item
						a.social__link(href="#") vk
							img(src="./images/svg/vk.svg" width="26")
					li.social__item
						a.social__link(href="#") ins
							img(src="./images/svg/ins.svg" width="21")
