footer.footer
	.container--footer
		.flex-footer(data-aos="fade-in" data-aos-easing="ease" data-aos-delay="200")
			.footer__left Свяжитесь с нами
			.footer__center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ul
			.footer__right
				a.mail.mail--footer(href="mailto:vadic_m@mail.ru") отправить e-mail
	.container--footer
		.footer-social(data-aos="fade-in" data-aos-easing="ease" data-aos-delay="400")
			ul.social.social--footer
				li.social__item
					a.social__link(href="#") fb
						img(src="./images/svg/fb.svg" width="10")
				li.social__item
					a.social__link(href="#") vk
						img(src="./images/svg/vk.svg" width="26")
				li.social__item
					a.social__link(href="#") ins
						img(src="./images/svg/ins.svg" width="21")
		