footer.footer
	.container--footer
		.flex-footer(data-aos="fade-in" data-aos-easing="ease" data-aos-delay="200")
			.footer__left Свяжитесь с нами
			.footer__center
				| «отказ от ответственности» - описание того, что это не медицинский девайс и не средство реабилитации, пока просто рыбу
			.footer__right
				a.mail.mail--footer(href="mailto:123mail.ru") отправить @
	.container--footer
		.footer-social
			ul.social.social--footer
				li.social__item
					a.social__link(href="#") fb
						img(src="./images/svg/fb.svg" width="10")
				li.social__item
					a.social__link(href="#") vk
						img(src="./images/svg/vk.svg" width="26")
				li.social__item
					a.social__link(href="#") ins
						img(src="./images/svg/ins.svg" width="21")
		