.content{
  background-color: #fff;
  padding: 30px 0;
  @include breakpoint(phablet) {
	padding: 50px 0;
  }
  &__img{
	margin-bottom:30px;
	@include breakpoint(phablet) {
	  margin-bottom:60px;
	}
  }
}
.txt{
  font-size:18px;
  line-height:30px;
  letter-spacing:0.025em;
  margin-bottom:30px;
  font-family: "OpenSansLight";
  @include breakpoint(phablet) {
	margin-bottom:60px;
  }
}
.slider-sec{
  background-image: url('../images/bgr2--small.jpg');
  @include breakpoint(phablet) {
	background-image: url('../images/bgr2.jpg');
	background-attachment: fixed;
  }
  overflow: hidden;
  /* Full height */

  /* Create the parallax scrolling effect */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.slider__item{
  font-size:0;
}
.slider{
  &__col2{
	font-size:16px;
	@include boxsize;
	@include breakpoint(phablet) {
	  display: inline-block;
	  vertical-align: top;
	  width: 50%;
	}
  }
  &__img{
	border-radius:100%;
	margin: 0 auto;
	margin-bottom:20px;
	@include breakpoint(phablet) {
	  margin: auto;
	}
  }
  &__name{
	font-size:18px;
	margin-bottom:25px;
	text-align: center;
	font-family: "RobotoRegular";
	@include breakpoint(phablet) {
	  font-size:24px;
	  text-align: left;
	  margin-bottom:50px;
	}
  }
  &__descr{
	font-size:16px;
	line-height:24px;
	letter-spacing:0.025em;
	font-family: "OpenSansLight";
	@include breakpoint(phablet) {
	  font-size:18px;
	  line-height:30px;
	}
  }
}
.slide-title{
  color: $black;
  font-size:24px;
  text-align: center;
  letter-spacing:0.02em;
  margin-bottom:30px;
  font-family: "RobotoRegular";
  @include breakpoint(phablet) {
	margin-bottom:60px;
  }
}
.bgr-b{
  background-image: url('../images/bgr3--small.jpg');
  @include breakpoint(phablet) {
	background-image: url('../images/bgr3.jpg');
	background-attachment: fixed;
  }
  overflow: hidden;
  /* Full height */

  /* Create the parallax scrolling effect */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  color: #fff;
  @include breakpoint(phablet) {
	padding: 80px 0;
  }
}
.big-title{
  text-align: center;
  font-size: 36px;
  margin-bottom:70px;
  position: relative;
  @include breakpoint(phablet) {
	font-size: 48px;
	text-align: left;
  }
  &:after{
	content: '';
	position: absolute;
	bottom: -30px;
	width:125px;
	height:1px;
	background-color: #fff;
	left:0;
	right:0;
	margin: auto;
	@include breakpoint(phablet) {
	  left:0;
	  right:auto;
	}
  }
}
.big-descr{
  font-family: "OpenSansLight";
  font-size:18px;
  line-height:30px;
  width:100%;
  @include breakpoint(phablet) {
	width:80%;

  }
}
.bgr-t{
  background-color: #fff;
  padding: 40px 0;
}
.percent{
  font-family: "OpenSansLight";
  font-size:24px;
  line-height:36px;
  padding: 50px 0;
  position: relative;
  margin:40px 0;
  margin-bottom:60px;
  text-align: center;
  &__head{
	font-family: "RobotoBold";
	font-style: italic;
	position: absolute;
	right:24px;
	top: -35px;
	font-size:50px;
	z-index:10;
	color: #e73827;
  }
  &:after{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:9px;
	background: rgba(255,78,34,1);
	background: linear-gradient(to right, rgba(255,78,34,1) 0%, rgba(241,111,92,1) 0%, rgba(231,56,39,1) 100%);  }
  &:before{
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height:9px;
	background: rgba(255,78,34,1);
	background: linear-gradient(to right, rgba(255,78,34,1) 0%, rgba(241,111,92,1) 0%, rgba(231,56,39,1) 100%);
  }
}
.team{
  @include uldev();
  font-size:0;
  text-align: center;
  margin-right: -10px;
  margin-bottom:40px;
  &__item{
	position: relative;
	font-size:16px;
	max-width:280px;
	max-height:280px;
	display: inline-block;
	padding-right:10px;
	overflow: hidden;
	@include breakpoint(phablet) {
	  width:33.333333333%;
	}
	@include boxsize();
	margin-bottom:10px;
	&:hover .t-border{
	  border-color: rgba(255,78,34,1);
	}
	&:hover .team__descr{
	  @include breakpoint(phablet) {
		transform: translateY(0);
	  }
	}
  }
  &__img{
	position: relative;
  }
  &__descr{
	text-align: left;
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:15px;
	z-index:9;
	@include breakpoint(phablet) {
	  transform: translateY(100%);
	}
	transition: all .2s ease-in-out;
	transition-delay: .1s;
  }
  &__title{
	font-size:18px;
	font-family: "RobotoRegular";
  }
  &__who{
	font-size:16px;
	font-family: "RobotoBold";
  }
}
.t-border{
  transition: all .2s ease-in-out;
  position: absolute;
  width:100%;
  height:100%;
  border: 10px solid transparent;
  @include boxsize();
  z-index:10;
}
.video{
  position: relative;
  &__button{
	position: absolute;
	width:90px;
	height:90px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	cursor: pointer;
	&:hover{
	  opacity:0.4;
	}
  }
}
.popup{
  display: none;
  width:90%;
  padding-top:30px;
  margin-top:40px;
  @include breakpoint(phablet) {
	width:80%;
  }
}
.popup__wrap{
  width:100%;
}
.close-x{
  stroke: white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 3;
}
.b-close{
  cursor: pointer;
  position: absolute;
  width:35px;
  height:35px;
  top: -10px;
  right:0;
  left:0;
  margin: 0 auto;
  transition: transform .4s ease-in-out;
  &:hover{
	opacity:0.4;
	transform: rotate(180deg);
  }
  @include breakpoint(phablet) {
	top: 0px;
	right:-40px;
	left:auto;
  }
}
