.header {
  @include clearfix();
  @include uldev();
  @include boxsize();
  background: $white;
  color: $black;

  @include breakpoint(phablet) {
    height: 130px;
  }
}

.logo {

  @include breakpoint(phablet) {
    //min-width: 150px;
  }
  & img {
    min-width:202px;
    margin: 15px auto;
    @include breakpoint(phablet) {
      margin: 0;
    }
  }
}

.header-flex {
  height: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.italic {
  font-family: "OpenSansSemiBoldItalic";
  font-size: 16px;
  @include breakpoint(phablet) {
    font-size: 18px;
  }
}

.navigation {
  width: 100%;
  text-align: right;
  @include breakpoint(phablet) {
    text-align: left;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include breakpoint(laptop) {
    width: 50%;
  }
  @include breakpoint(desktop) {
    width: 38.2%;
  }

}

.social {
  @include uldev();
  &__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.4;
      transition: all 0.4s;
    }
  }
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: right;
  @include breakpoint(phablet) {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
  }
}

.tel {
  font-size: 24px;
  text-decoration: none;
  font-family: "OpenSansLight";
  display: block;
  text-align: right;
  margin-bottom: 15px;
  margin-right: 0;
  @include breakpoint(mobile) {
    margin-right: 15px;
    display: inline-block;
  }
  @include breakpoint(phablet) {
    margin-right: 0;
    margin-bottom: 0;
    display: inline;
    width: auto;
    text-align: left;
  }
  &:hover {
    opacity: 0.4;
    transition: all 0.4s;
  }
}

.mail {
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  padding: 8px 15px;
  border: 2px solid $black;
  @include breakpoint(mobile) {
    display: inline-block;
    margin-left: 15px;
  }
  @include breakpoint(phablet) {
    margin-left: 0;
    margin-bottom: 0;
    display: inline-block;
    width: auto;
    text-align: left;
  }
  &:hover {
    background-color: #000;
    color: #fff;
    opacity: 1;
    transition: all 0.4s;
  }
}

.bgr-h {
  background-image: url('../images/bgr.jpg');
  @include breakpoint(phablet) {

    //background-attachment: fixed;
  }
  overflow: hidden;
  /* Full height */

  /* Create the parallax scrolling effect */
  //background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 50px 0;
  @include breakpoint(phablet) {
    padding: 100px 0;
  }
  &__title {
    color: $black;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    font-size: 21px;
    //font-family: "RobotoRegular";
    @include breakpoint(phablet) {
      margin-bottom: 40px;
      font-size: 36px;
    }
  }
  &__descr {
    letter-spacing: 0.025em;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    @include breakpoint(phablet) {
      line-height: 70px;
      margin-bottom: 80px;
      font-size: 40px;
    }
  }
}

.small-txt {
  font-family: "RobotoRegular";
  font-size: 16px;
  @include breakpoint(phablet) {
    font-size: 21px;
  }
}

.future {
  @include uldev();
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__item {
    font-size: 0;
    @include boxsize();
  }
  &__descr {
    font-size: 16px;
  }
  &__pic {
    margin: 0 auto;
    width: 40px;
    @include breakpoint(mobile) {
      margin: auto;
      display: inline-block;
      vertical-align: middle;
    }
    @include breakpoint(phablet) {
      width: 70px;
    }
  }
  &__descr {
    font-size: 24px;

    @include boxsize();
    margin-left: 0;
    margin-bottom: 30px;
    @include breakpoint(mobile) {
      margin-bottom: 0;
      margin-left: 15px;
      display: inline-block;
      vertical-align: middle;
    }
    @include breakpoint(phablet) {
      font-size: 34px;
    }

  }
}

.tab-content {
  margin-top: 40px;
  display: none;
  opacity: 0;
  @include anim();
  &.current {
    display: block;
    opacity: 1;
  }
}