@import "_variables";
@import "_mixins";
@import "_normalize.scss";

html,
body {
    min-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    color: #333;


    font-size: 16px;
    & a {
        color: #333;
        &:hover {
            text-decoration: none;
        }
    }
    font-family: "OpenSansRegular";
    -webkit-font-smoothing: antialiased;
  	transition-duration: 4000ms;
}
@import "_fonts.scss";
.wrapper {
    position: relative;
    min-height: 100%;
}
.content {
    padding-bottom: 90px;
}
.container {
    margin: 0 auto;
    padding: 0 3%;
    position: relative;
    @include clearfix();
    @include breakpoint(phablet) {
        max-width: 760px;
        // padding: 0 5%;
    }
}
.header-container{
    margin: 0 auto;
    padding: 0 3%;
    position: relative;
    @include clearfix();
    height:100%;
    @include breakpoint(phablet) {
        max-width: 1750px;
    }
}
.container--footer{
  margin: 0 auto;
  padding: 0 3%;
  position: relative;
  @include clearfix();;
  @include breakpoint(phablet) {
	max-width: 1240px;
  }
}

.main{
    background: #ccc;
}
.btn {
    font-family: 'LatoWeb';
    height: 38px;
    font-size: 13px;
    border: 0;
    outline: 0;
    box-shadow: 0;
    padding: 0 15px;
    background: #ccc;
    color: #fff;
    text-decoration: none;
    &:hover {
        background: #c3b29e;
        color: #fff;
    }
}
.bold{
  font-family: "OpenSansBold";
}
@import "_slider.scss";
@import "_header.scss";
@import "_content.scss";
@import "_footer.scss";
@import "_images.scss";